h1, h2, h3, h4, h5, h6, p, .card-header, .card-body, label, input, button {
    font-family: Roboto, sans-serif;
    color: #393e41;
}

h1 {
    text-align: center;
    margin: 30px;
}

h5 {
    text-align: center;
    margin: 30px;
}

.accent {
    color: #e7bb41;
}

.hours {
    display: none;
}

.btn-link{
    border:none;
    outline:none;
    background:none;
    cursor:pointer;
    color:#e0a800;
    padding:0;
    font-family:inherit;
    font-size:inherit;
    padding-bottom: 3px;
}

.btn-link:hover {
    text-decoration: underline;
    color: #d0a440;
}

.btn-primary {
    background-color: #9eb25d;
    border-color: #9eb25d;
}

.btn-primary:hover {
    background-color: #82924d;
    border-color: #82924d;
}

.btn-primary:active {
    background-color: #65753a !important;
    border-color: #65753a !important;
}

.btn-warning {
    background-color: #facd42;
    border-color: #facd42;
}

.btn-warning:hover {
    background-color: #e0b441;
    border-color: #e0b441;
}

.btn-warning:active {
    background-color: #cca140 !important;
    border-color: #cca140 !important;
}

.btn-check {
    width: 100%;
    float: bottom;
    margin-bottom: 0;
}

.details {
    text-align: center;
    margin: 30px;
}

.search-btn {
    margin: 0 5px 0 5px;
}

body {
    background-color: #fcfff5;
}

.middle {
    position: absolute;
    top: 40%;
    left: 20%;
    text-align: center;
}

.table {
    position: relative;
}

.active {
    color: #fcfff5;
}

a {
    color: #e7bb41;
}

a:hover {
    color: #cb9f41;
}

label {
    font-weight: 500;
}

.inv {
    display : none
}

.vis {
    display : block
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.btn-hours {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-edit {
    margin-bottom: 10px;
}